
html {
  scroll-behavior: smooth;

}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Aleo', serif;

  /* max-height: 100vh; */
}

/* .dark__theme {
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
  /* position: absolute; */
/* 
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); */


.container {
  margin: 0 auto;
  max-width: 1200px;
}


/* header */

.header {
  margin: 0 auto;
  max-width: 1440px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);

}

.header__container {
  display: flex;

}

.logo {
  display: flex;
  flex: auto;
}

.logo__img {
  padding-top: 26px;
  padding-bottom: 34px;
  cursor: pointer;
}

.logo__text {
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
  padding-top: 25px;
  padding-left: 6px;

}

.header__menu {
  padding-left: 158px;
  padding-right: 196px;
}

.header__list {
  display: flex;
  box-sizing: border-box;

}

.header__item:not(:last-child) {
  margin-right: 42px;

}

.header__item {
  padding-top: 35px;
  padding-bottom: 34px;
}

.header__link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #0D606F;
}

.header__link:active {
  transform: translateY(3px);
  color: #0D606F;
}

.header__burger-menu {
  display: none;
}

.menu {
  display: none;
}

.btn {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__btn {
  padding-top: 25px;
  padding-bottom: 20px;
}

.btn:hover {
  box-shadow: 3px 3px 3px rgb(15, 8, 8);
  transform: translate(-2px, -2px);
}

.btn:active {
  transform: translate(0px, 0px);
  box-shadow: none;
}


.btn__login {
  padding: 10px 30px;
}

.btn__login__text {
  color: #FFFFFF
}


/* main */

.preview__background {
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  z-index: -10;
  max-width: 100%;
  height: auto;
}

/* Preview */

.preview__container {
  padding-top: 32px;
  padding-right: 308px;
}

.title {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 308px;
  padding-top: 32px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview__description {
  /* padding-top: 30px; */
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.preview__form {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

}

.btn__search {
  margin: 18px 18px 18px 0px;
}

.btn__search-text {
  padding: 13.5px 32.5px;
  display: block;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.preview__input {
  background: transparent;
  padding-top: 0px;
  width: 560px;
}

.preview__input::placeholder {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  padding-right: 45px;
}

.preview__input[type="text"] {
  font-family: 'Aleo', serif;
  padding-left: 41px;
  color: #F2785C;
  font-size: 24px;
}

.preview__background-mobile {
  display: none;
}

/* steps */

.subtitle {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.steps__subtitle {
  text-align: center;
  text-transform: uppercase;
}


.steps {
  margin-top: 334px;
}

.steps__items {
  display: flex;
  padding-left: 12px;
  /* justify-content: space-between; */
}

.steps__item {
  display: block;
  padding-top: 40px;
  background-color: transparent;
  cursor: pointer;
}

.steps__item-tellus {
  padding-right: 231px;
}

.steps__item-shareus {
  padding-right: 160px;
}

.steps__item__img {
  background: #F2785C;
  border-radius: 16px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.steps__item__text {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/* destinations */

.destinations {
  margin-top: 97px;
}

.destinations__container {
  max-width: 1440px;
  margin: 0 auto;

}

.destinations__subtitle {
  text-align: center;
  text-transform: uppercase;
}

.destinations__slider {
  margin-top: 46px;
}

.destinations__slider-container {
  overflow: hidden;
}

.destinations__items {
  display: flex;
  justify-content: center;
  /* Пересмотреть флекс и ордер => в макете */
  flex-grow: 0;
}

.destinations__item {
  position: relative;
  top: 0;
  transition: all 500ms ease;
  cursor: pointer;

}

.destinations__item:not(:last-child) {
  margin-right: 60px;
}

.destinations__img {
  border-radius: 16px;
}

.destinations__item-title {
  position: absolute;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  bottom: 40px;
  left: 15px;
  text-transform: uppercase
}

.destinations__dots {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.destinations__dot-btn {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.destinations__dot:not(:last-child) {
  margin-right: 10px;
}

.destinations__dot-btn--active {
  background: #F2785C;
}


/* .destinations__control-right, .destinations__control-left {
  display: none;
} */



/* STORIES */


.stories {
  margin-top: 70px;
}

.stories__container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.stories__subtitle {
  text-align: center;
}

.stories__background {
  margin-top: 50px;
}

.stories__items {
  background: url(image/img/jpg/stories__bckgrnd.jpg) top center/ cover no-repeat;
  height: 1331px;
  margin-top: 45px;
  position: relative;
  top: -5px;
  z-index: 0;
}

.stories__items::after {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  height: 1270px;
  width: 14450px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.stories__items__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.stories__item {
  display: flex;
}

.stories__item__img {
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories__item:not(:last-child) {
  margin-bottom: 30px;
}

.stories__item__img {
  margin-right: 40px;
}

.stories__description-title {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.stories__description-text {
  padding-top: 24px;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.stories__description__btn {
  background-color: transparent;

}

.stories__description__btn-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #0D606F;
  cursor: pointer;
}


.btn__aroww {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 5px;
  cursor: pointer;

}

.btn__arroww-img {
  display: block;
  margin: 9.5px 0px 9.5px 31px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn-aroww-text {
  display: block;
  margin: 13.5px 31px 13.5px 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}

/* footer */

.footer {
  position: relative;
  top: -61px;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
}

.footer__label {
  position: relative;
  padding-right: 328px;
  margin-top: 20px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}

.footer__nav {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 5px;
}

.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__img:hover {
  filter: brightness(10%);
}


/* POPUP */


.sign-pop-up {
  margin: 0 auto;
  position: absolute;
  visibility: hidden;
  top: -250px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  transition: all 700ms linear;

}

.sign-pop-up--active {
  z-index: 1;
  visibility: visible;
  top: 350px;
  transition: all 700ms linear;

}

.sign-pop-up__container {
  width: 86%;
  margin: 0 auto;

}

.sign-pop-up__login {
  padding-top: 25px;
  padding-bottom: 30px;
}

.sign-pop-up__login-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #0D606F;
}

.sign-pop-up__media_btns {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-pop-up__media-btn:not(:last-child) {
  margin-bottom: 20px;
}

.sign-pop-up__media-btn {
  cursor: pointer;
}

.sign-pop-up__btn-facebook {
  width: 100%;
  background: #1877F2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.sign-pop-up__btn-facebook-img {
  padding-top: 16px;
  padding-bottom: 16px
}

.sign-pop-up__btn-facebook-text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.sign-pop-up__btn-google {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.sign-pop-up__btn-google-img {
  padding-top: 16.5px;
  padding-bottom: 16.5px
}

.sign-pop-up__btn-google-text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0D606F;
}

.sign-pop-up__line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-pop-up__line-left {
  width: 100%;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);

}

.sign-pop-up__line-right {
  width: 100%;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);
  ;
}

.sign-pop-up__line-text {
  color: rgba(13, 96, 111, 0.5);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-left: 9px;
  padding-right: 9px;
}

.sign-pop-up__form {
  padding-top: 10px;
}

.sign-pop-up__email {
  display: flex;
  flex-direction: column;
}

.sign-pop-up__email-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.sign-pop-up__email-input {
  margin-top: 5px;
  padding-left: 20px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
}


.sign-pop-up__password {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sign-pop-up__password-text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.sign-pop-up__password-input {
  margin-top: 5px;
  padding-left: 20px;

  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
}


.sign-pop-up__sigh-in {
  margin-top: 25px;
  display: block;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
  width: 100%;
  cursor: pointer;
}

.sign-pop-up__sigh-in-text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.sign-pop-up__forgot {
  margin: 10px auto 0 auto;
}

.sign-pop-up__forgot-password {
  display: block;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}


.sign-pop-up__line-down {
  display: block;
  margin-top: 26px;
  width: 100%;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);
}

.sign-pop-up__registration {
  display: block;
  margin: 20px 0px 23px 0px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-align: center;
}

.sign-pop-up__registration-link {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

/* login popup */


.login-pop-up {
  margin: 0 auto;
  width: 650px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  border-radius: 16px;
  position: absolute;
  visibility: hidden;
  top: -250px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: all 800ms linear;
}

.login-pop-up--active {
  z-index: 1;
  visibility: visible;
  top: 350px;
  transition: all 900ms linear;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.login-pop-up__container {
  width: 86%;
  margin: 0 auto;
}

.login-pop-up__title {
  margin-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #0D606F;
}

.login-pop-up__form {
  padding-top: 30px;
}

.login-pop-up__email {
  display: flex;
  flex-direction: column;
}

.login-pop-up__email-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.login-pop-up__email-input {
  margin-top: 5px;
  padding-left: 20px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
}

.login-pop-up__password {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.login-pop-up__password-text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.login-pop-up__password-input {
  margin-top: 5px;
  padding-left: 20px;

  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
}


.login-pop-up__sigh-in {
  margin-top: 25px;
  display: block;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  height: 54px;
  width: 100%;
  cursor: pointer;
}

.login-pop-up__sigh-in-text {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.login-pop-up__forgot {
  margin: 10px auto 0 auto;
}

.login-pop-up__forgot-password {
  display: block;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}


.login-pop-up__line-down {
  display: block;
  margin-top: 26px;
  width: 100%;
  height: 1px;
  background: rgba(13, 96, 111, 0.5);
}

.login-pop-up__registration {
  display: block;
  padding: 20px 0px 23px 0px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-align: center;
}

.login-pop-up__registration-link {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}


.item__right {
  transform: translateX(-105%);
}

.item__left {
  transform: translateX(110%);
}

.item__center {
  transform: translateX(0%);
}
